

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="tree-tab" data-tabs-toggle="#tree-tab-content" role="tablist">
    <li *ngFor="let search of searchAlgorithms" class="me-2" role="presentation">
      <button
              class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
              id="{{ search}}-tab" [attr.data-tabs-target]="'#' + search" type="button" role="tab"
              [attr.aria-controls]="search" aria-selected="false">
        {{ search }}
      </button>
    </li>
  </ul>
</div>
<div id="tree-tab-content">
  <div *ngFor="let search of searchAlgorithms" class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
       id="{{ search }}" role="tabpanel" [attr.aria-labelledby]="search + '-tab'">
    <p class="text-sm text-gray-500 dark:text-gray-400">
      This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">{{ search }} tab's associated content</strong>.
      Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.

      <ngx-graph
              class="chart-container"
              layout="dagre"
              [view]="[500, 500]"
              [links]="links"
              [nodes]="nodes"
              (select)="onNodeSelect($event)"
      >
      </ngx-graph>
    </p>
  </div>
</div>
